/* ===== Menu ===== */
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f357b7;
    padding: 10px 20px;
    gap: 15px;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
} 

.group {
    display: flex block;
    justify-content: center;
    justify-items: space-between;
    gap:60px;
    font-size: 20px;
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: whitesmoke;
}
.group .name:hover {
    color: black;
    transform: scale(1.1);
}


.icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: auto;
    cursor: pointer;
}

.icon img {
    width: 50px;
    height: 50px;
}
.icon :hover {
    transform: scale(1.1);
    color: white;
    
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 10px;
}

.menu a:hover {
    color: white;
    transform: scale(1.1);
}

.menu input {
    border-radius: 30px;
    font-size: 15px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: white;
    color: green;
    margin: 10px;
}

.menu input:hover {
    background-color: green;
    color: white;
    transform: scale(1.1);
}
/* ===== Search ===== */
.search input {
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    text-align: center;
}

.search img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.search img:hover {
    transform: scale(1.1);
}

/* ===== Gallery ===== */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    list-style: none;
}
.gallery .img-box img :hover {
    transform: scale(1.05);
}
.gallery :hover .img-box img {
    transform: scale(1.15);

}
.img-box {
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}


.img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}



/* icons */
.img-icon {
    width: 42px;
    height: 42px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.img-icon:hover {
    transform: scale(1.15);
}
.gallery li:hover .img-icon.fav {
    color: red;
    
}
/* ===== Modal ===== */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
.img-icon.fav {
    position: sticky;
    top: 20px;
    left: 20px;
    color: white;
    background-color : green;
}
.img-icon.order {
   display: flex block;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
}
.modal h1,h2 {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.modal h2:hover {
    color: gray;
    transform: scale(1.15);
}

.modal p:hover {
    color: gray;
    transform: scale(1.15);
}
.modal h1:hover {
    color: green;
    transform: scale(1.15);
}




/* ===== Responsive ===== */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
