/* ===== Global ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

/* ===== Header ===== */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    background-color: #f357b7;
}

/* Logo */
.icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
}
.icon :hover {
    cursor: pointer;
    transform: scale(1.15);
    color: white;
}

.icon img {
    width: 50px;
    height: 50px;
}
icon img:hover {
    cursor: pointer;
    transform: scale(1.15);
    color: white;
}


/* Links */
.menu a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.menu a:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.1);
    transition: 0.3s;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    gap: 5px;
}


.search input {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}
.search input:focus {
    outline: none;
    border-color:white;
    
}


/* Icons */
.img-icon,
.icon-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-btn:hover,
.img-icon:hover {
    background-color: green;
    transform: scale(1.1);
    transition: 0.3s;
    color: white;
}

/* ===== Main Layout ===== */
.hero {
    display: flex;
    min-height: calc(100vh - 80px);
    flex-direction: row-reverse;
}
/* LEFT SIDE */
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* left top empty */
.left-top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f357b7;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    font-size: large;
}

/* left bottom circle image */
.left-bottom {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.left-bottom img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

/* RIGHT SIDE */
.right {
    width: 50%;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== Footer ===== */
footer {
    background-color: #f357b7;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        height: 50vh;
    }
}
